%full {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

$base-font-size:37.5px!default;
@function px2rem($val) {
    @return $val/$base-font-size*1rem;
}

%column {
    flex-direction: column;
}

@mixin align($v:center) {
    text-align: $v;
}

@mixin pos($v:relative) {
    position: $v;
}